{% extends 'base.html.twig' %}

{% block title %}New Sitios{% endblock %}

{% block body %}
    <h1>Create new Sitios</h1>

    {{ include('sitios/_form.html.twig') }}

    <a href="{{ path('app_sitios_index') }}">back to list</a>
{% endblock %}
