<form method="post" action="{{ path('app_obras_completas_delete', {'id': obras_completa.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ obras_completa.id) }}">
    <button class="btn">Delete</button>
</form>
