{% extends 'base.html.twig' %}

{% block title %}Edit ObrasCompletas{% endblock %}

{% block body %}
    <h1>Edit ObrasCompletas</h1>

    {{ include('obras_completas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_obras_completas_index') }}">back to list</a>

    {{ include('obras_completas/_delete_form.html.twig') }}
{% endblock %}
