{% extends 'base.html.twig' %}

{% block title %}Modificar Alerta{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-2">Modificar alerta</h1>
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_alerta_index') }}">Regresar </a></li>
                <li class="breadcrumb-item active" aria-current="page">Modificar</li>
            </ol>
        </nav>
    </div>

    {{ include('alerta/_form.html.twig', {'button_label': 'Actualizar'}) }}

{% endblock %}
