{% extends 'base.html.twig' %}

{% block title %}Nueva Alerta{% endblock %}

{% block body %}
    <h1 class="mt-3 mb-4">Nueva Alerta Biliográfica</h1>
    {{ include('alerta/_form.html.twig') }}
{% endblock %}
