<form method="post" action="{{ path('app_libro_delete', {'slug': libro.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ libro.slug) }}">
    <button class="btn btn-danger"><i class="fa fa-trash"></i> Borrar</button>
</form>
