{% extends 'base.html.twig' %}

{% block title %}Nuevo Boletín{% endblock %}

{% block body %}
    <h1 class="mt-3 mb-4">Nuevo Boletín</h1>
    {{ include('boletin/_form.html.twig') }}

{% endblock %}
